<p>This is my login in details <%=newName.toUpperCase()%></p>

<%if(newName.toLowerCase() === "futa"){%>
    <p>You have login to right portal</p>
<%}else {%>
    <P>this is a wrong portal</P>
    <%}%>