#delete-form{
    display: inline;
}
.name-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-right{
    float: right;
}
.img-responsive{
    height: 90%;
}
.jumbotron {
    margin-top: 2em;
    padding: 3rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }