<%- include ('../partials/header') -%>
<div class="container">

            <h2 style="text-align: center">Added New Comment to: <%=campground.name%></h2>
            
            <div style="width: 30%; margin: 0 auto;">
            <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
                  <div class="mb-3">
                        <input class='form-control' type='text' name='comment[text]' placeholder="text">
                  </div>
                  <div class="mb-3">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                  </div>
            </form>
            <a href="/campgrounds">Go Back</a>
      </div>
  
</div>

<%- include ('../partials/footer') -%>